@model Bicistock.Common.Models.CS_ModeloGeneral;
@{
    Layout = "../Shared/_LayoutSubPage.cshtml";
    int cont = 1;
    string nameModal = "modal";
    bool hayBicis = false;
    ViewData["Title"] = "Lista Bicis";
}


<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />


<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->

        <h2 style="padding:5%;" class="page-section-heading text-center text-uppercase text-secondary mb-0">LISTA DE BICICLETAS</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">

            <form action="#" method="post">

                <div class="input-group mb-3 col-md-3 justify-content-end">
                    <div class="form-outline text-center pe-3">
                        @Html.DropDownListFor(x => x.Brand.Id, new SelectList(Model.BrandList, "Id", "Name"), "--SELECCIONA MARCA--",new {@class="form-select"} )
                    </div>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary" style="background-color: #7ed956; margin-bottom:5%;" id="boton">Buscar</button>
                    </div>
                </div>

            </form>



            <!-- Portfolio Grid Items-->
            <hr />
            <div class="row justify-content-center">


                @foreach (var item in Model.BikeList)
                {
                    if (Model.Brand is null || Model.Brand.Id == 0)
                    {
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#@nameModal@cont">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <h2>@item.Name</h2>
                                <h3>@decimal.Round(item.Price) €</h3>
                                <img class="img-fluid" src="@item.Image" />
                            </div>
                        </div>


                        <div class="portfolio-modal modal fade" id="@nameModal@cont" tabindex="-1" aria-labelledby="@nameModal@cont" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                                    <div class="modal-body text-center pb-5">
                                        <div class="container">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-8">
                                                    <!-- Portfolio Modal - Title-->
                                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">@item.Name</h2>

                                                    <!-- Portfolio Modal - Image-->

                                            <img class="d-block w-100" src="@item.Image">


                                                    <!-- Portfolio Modal - Text-->
                                            <h2 class="mb-4">@decimal.Round(item.Price) €</h2>

                                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                                        Salir
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        cont++;
                        hayBicis = true;
                    }
                    else
                    {
                        if (item.BrandId == Model.Brand.Id)
                        {
                            hayBicis = true;
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#@nameModal@cont">
                                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                    </div>
                                    <h2>@item.Name</h2>
                                    <h3>@decimal.Round(item.Price) €</h3>
                                    <img class="img-fluid" src="@item.Image" />
                                </div>
                            </div>


                            <div class="portfolio-modal modal fade" id="@nameModal@cont" tabindex="-1" aria-labelledby="@nameModal@cont" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                                        <div class="modal-body text-center pb-5">
                                            <div class="container">
                                                <div class="row justify-content-center">
                                                    <div class="col-lg-8">
                                                        <!-- Portfolio Modal - Title-->
                                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">@item.Name</h2>

                                                        <!-- Portfolio Modal - Image-->

                                            <img class="d-block w-100" src="@item.Image">


                                                        <!-- Portfolio Modal - Text-->
                                            <h2 class="mb-4">@decimal.Round(item.Price) €</h2>

                                                        <button class="btn btn-primary" data-bs-dismiss="modal">
                                                            Salir
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            cont++;
                        }
                    }
                }
                @if (hayBicis == false)
                {
                    <h2 class="text-center" style="margin-top:10%;">No tenemos bicicletas con esa Brand en nuestro Stock</h2>
                }
            </div>
        </div>
    </div>
</section>

